
body {
    background-color: #FFFCFA; /* Background color */
}
.logo-container {
    display: flex;
    align-items: center;
  }
  .btn-group .btn-light {
    color: #5B5A5B;
    background-color: transparent;
    border-color: transparent;
  }
  
  .btn-group .btn-light:hover,
  .btn-group .btn-light:focus {
    color: #000;
    background-color: rgba(91, 90, 91, 0.1);
  }

  .btn-group .btn-light svg {
    fill: #5B5A5B;
  }
  
  .btn-group .btn-light:hover svg,
  .btn-group .btn-light:focus svg {
    fill: #000;
  }